@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.Sidebar {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}


body.ClosedSb .Sidebar,
.SbItem,
.SbList,
.divShade,
.sbSearch,
.Sidebar,
.SbItemTop,
.ModalSectionSetting,
.ModalSectionShortcut,
.ModalInside,
.addNotesOn,
.addNotesOn.fadeInDown {
  animation: fade-in-down 0.7s ease 1;
  -webkit-animation: fade-in-down 0.7s ease 1;
}

.PopUpRight::after,
.PopUpBottom::after,
.PopUpTop::after,
.PopUpLeft::after,
.ArrowSideRightPopup,
.ArrowSideLeftPopup {
  transition: opacity 0.3s ease-in-out 1s;
  -webkit-transition: opacity 0.3s ease-in-out 1s;
  -moz-transition: opacity 0.3s ease-in-out 1s;
  -ms-transition: opacity 0.3s ease-in-out 1s;
  -o-transition: opacity 0.3s ease-in-out 1s;
}