@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.Sidebar {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}


body.ClosedSb .Sidebar,
.SbItem,
.SbList,
.divShade,
.sbSearch,
.Sidebar,
.SbItemTop,
.ModalSectionSetting,
.ModalSectionShortcut,
.ModalInside,
.addNotesOn,
.addNotesOn.fadeInDown {
  animation: fade-in-down 0.7s ease 1;
  -webkit-animation: fade-in-down 0.7s ease 1;
}

.PopUpRight::after,
.PopUpBottom::after,
.PopUpTop::after,
.PopUpLeft::after,
.ArrowSideRightPopup,
.ArrowSideLeftPopup {
  transition: opacity 0.3s ease-in-out 1s;
  -webkit-transition: opacity 0.3s ease-in-out 1s;
  -moz-transition: opacity 0.3s ease-in-out 1s;
  -ms-transition: opacity 0.3s ease-in-out 1s;
  -o-transition: opacity 0.3s ease-in-out 1s;
}

.divItemGroupTop>*,
.divItemGroupBottom>* {
  opacity: 0;
  animation: fade-in-down 0.5s forwards;
}

.divItemGroupTop>*:nth-child(1),
.divItemGroupBottom>*:nth-child(1) {
  animation-delay: 0.15s;
}

.divItemGroupTop>*:nth-child(2),
.divItemGroupBottom>*:nth-child(2) {
  animation-delay: 0.3s;
}

.divItemGroupTop>*:nth-child(3),
.divItemGroupBottom>*:nth-child(3) {
  animation-delay: 0.45s;
}

.divItemGroupTop>*:nth-child(4),
.divItemGroupBottom>*:nth-child(4) {
  animation-delay: 0.6s;
}

.divItemGroupTop>*:nth-child(5),
.divItemGroupBottom>*:nth-child(5) {
  animation-delay: 0.75s;
}

.divItemGroupTop>*:nth-child(6),
.divItemGroupBottom>*:nth-child(6) {
  animation-delay: 0.9s;
}

.divItemGroupTop>*:nth-child(7),
.divItemGroupBottom>*:nth-child(7) {
  animation-delay: 1.05s;
}

.divItemGroupTop>*:nth-child(8),
.divItemGroupBottom>*:nth-child(8) {
  animation-delay: 1.2s;
}

.divItemGroupTop>*:nth-child(9),
.divItemGroupBottom>*:nth-child(9) {
  animation-delay: 1.35s;
}

.divItemGroupTop>*:nth-child(10),
.divItemGroupBottom>*:nth-child(10) {
  animation-delay: 1.5s;
}