


body.ClosedSb .sbSearch,
body.ClosedSb .hr,
body.ClosedSb .SbItem,
body.ClosedSb .SbListGroup,
body.ClosedSb .divShade,
body.ClosedSb .TopSecDown,
body.ClosedSb .SbList,
body.ClosedSb .SidebarAreaSlot {
    display: none;

}


body.ClosedSb .Sidebar {
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}


body.ClosedSb .SidebarArea {
    position: fixed;
}

body.ClosedSb .divHomeArea {
    margin-right: 0;
}


body.ClosedSb .SidebarArea {
    height: fit-content;
}

body.ClosedSb .LogoGroup .LogoText1, body.ClosedSb .LogoGroup .LogoText {
    display: flex ;
}


