body.ClosedSb .sbSearch {
    display: none;
}

body.ClosedSb .hr {
    display: none;
}

body.ClosedSb .SbItem {
    display: none;

}

body.ClosedSb .Sidebar {
    height: 3.1rem;
    width: fit-content;
}

body.ClosedSb .TopSecDown {
    display: none;
}

body.ClosedSb .divShade {
    display: none;
}

body.ClosedSb .SbItemTop {
    padding: 0.85rem 0.9rem;
}

body.ClosedSb .SidebarArea {
    height: fit-content;
}

body.ClosedSb .LogoText,
body.ClosedSb .LogoText1 {
    display: flex;
}

.LogoText {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 0;

}

.LogoText1 {
    display: none;
    font-weight: 500;
    font-size: 11px;
    border-radius: 5px;
    margin-left: 0.1rem;
    padding: 0.2rem 0.4rem;
    height: 1.3rem;
    align-items: center;
    justify-content: center;
    color: var(--mainColor);
    background-color: var(--mainBgColor);
    margin-left: 0.5rem !important;
    margin-right: 1rem;
}