@media screen and (min-width: 350px) and (max-width: 767px) {

    .ItemSectionGroup .ItemSection .p,
    .SearchInput,
    .TopSecDown,
    body.ClosedSb .LogoText,
    body.ClosedSb .LogoText1,
    .LogoGroup {
        display: none !important;
    }

    .Icon {
        width: 21px;
    }

    .Sidebar {
        width: 4rem !important;
    }

    .ItemSectionGroup .ItemSection,
    .SbItemTop .TopSecUp,
    .sbSearch {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }

    .ItemSection,
    .ItemSection1,
    .ItemSection2 {
        height: 1.7rem !important;
    }


    body.ClosedSb .sbSearch,
    body.ClosedSb .hr,
    body.ClosedSb .SbItem,
    .LogoText1,
    .LogoText,
    body.ClosedSb .TopSecDown,
    body.ClosedSb .divShade,
    body.ClosedSb .ItemSectionGroup .ItemSection .p,
    body.ClosedSb .SearchInput,
    body.ClosedSb .TopSecDown,
    body.ClosedSb .LogoGroup {
        display: flex !important;

    }

    .SidebarArea {
        height: 100dvh !important;
        width: 5.4rem;
    }

    body.ClosedSb .Sidebar {
        position: fixed;
        height: calc(100% - 1.4rem) !important;
        width: 15rem !important;
        box-shadow: 10px 0px 70px var(--bgColor);

    }


    body.ClosedSb .ItemSectionGroup .ItemSection,
    body.ClosedSb .SbItemTop .TopSecUp,
    body.ClosedSb .sbSearch {
        display: flex;
        align-items: center !important;
        justify-content: space-between !important;
    }

    body.ClosedSb .TopSecDown {
        display: flex;
        flex-direction: column;
    }

    .ItemSectionGroup .ItemSection .p,
    .ItemSectionGroup1 .ItemSection1 .p,
    .ItemSectionGroup2 .ItemSection2 .p,
    body.ClosedSb .sbSearch .SearchInput::placeholder {
        font-size: 12px;
    }

    .ModalSectionSetting {
        left: 4.05rem !important;
    }

    body.ClosedSb .ModalSectionSetting {
        right: 0 !important;
    }

    body.ClosedSb .PopUpLeft::after {
        left: 2.4rem;
        top: 50%;
        transform: translate(0, -50%);
    }

    .PopUpLeft::after {
        left: 2.75rem;
        top: 50%;
        transform: translate(0, -50%);
        margin-left: 0.5rem;
    }

    .ArrowSideLeftPopup {
        right: -2.45rem !important;

    }

    body.ClosedSb .ArrowSideLeftPopup {
        right: -2.1rem !important;

    }

    .PopUpRight::after,
    .PopUpLeft::after {
        font-size: 12px !important;
    }

    .ResponsiveOn {
        display: none;
    }
    .IconToggle  {
        margin-top: 0rem !important;
      }
      

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .ResponsiveOn {
        display: none;
    }
}