.SbItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem 0rem;

}

.SbItemBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem 0rem;
    align-self: flex-end;
}


.ItemSectionGroup,
.ItemSectionGroup1,
.ItemSectionGroup2 {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    position: relative;
}

.ItemSection,
.ItemSection1,
.ItemSection2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    padding: 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -webkit-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -moz-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -ms-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -o-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    /* background-color: red; */

}

.ItemSection .p,
.ItemSection1 .p,
.ItemSection2 .p {
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    color: var(--grayText);
}

.ItemSectionGroup:hover .ItemSection,
.ItemSectionGroup1:hover .ItemSection1,
.ItemSectionGroup2:hover .ItemSection2 {
    background-color: var(--lightGrayHover);
    transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -webkit-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -moz-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -ms-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
    -o-transition: all 0.4s cubic-bezier(.21, .29, .04, .91);
}



.ItemSectionGroup.active .ItemSection {
    background-color: var(--mainBgColor);
    text-decoration: none;
}

.ItemSectionGroup.active .ItemSection .p {
    font-weight: 500;
    color: var(--mainColor);
}

.ItemSectionGroup.active .ItemSection img {
    filter: var(--color-filter);
    -webkit-filter: var(--color-filter);
}

.ItemSectionGroup.active .ItemSection:hover {
    background-color: var(--mainBgColor);
}

.SbItem a {
    text-decoration: none;
}
