.SbItemTop {
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.LogoGroup {
    display: flex;
    align-items: center;
}

.LogoGroup img {
    filter: var(--black-filter);
}

.divVers {
    background-color: var(--mainBgColor);

    color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}

.divVers p {
    font-size: 11px;
    font-weight: 500;
}

.LogoGroup p {
    line-height: 0;
    margin-left: 0.4rem;
}

.LogoText {
    color: var(--black);
}

.LogoGroup .PopUpRight img {
    filter: var(--black-filter);
    -webkit-filter: var(--black-filter);
}


.SbItemTop .TopSecUp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IconHover:hover {
    filter: var(--black-filter);
    transition: all 0.5s;
    -webkit-filter: var(--black-filter);
}

.IconHover {
    transition: all 0.5s;
}

.TopSecDown p:first-child {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.TopSecDown p:last-child {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: var(--lightGrayVersion);
    margin-top: 0.1rem;
}


.LogoText,  .LogoText1 {
    display: none ;
}

.LogoText {
    font-weight: 500;
    font-size: 16px;
    line-height: 0;

}

.LogoText1 {
    font-weight: 500;
    font-size: 11px;
    border-radius: 5px;
    margin-left: 0.1rem;
    padding: 0.2rem 0.4rem;
    height: 1.3rem;
    align-items: center;
    justify-content: center;
    color: var(--mainColor);
    background-color: var(--mainBgColor);
    margin-left: 0.5rem !important;
    margin-right: 1rem;
}

/* Ends */