.ModalSectionSetting,
.ModalSectionShortcut {
    box-shadow: 0px 0px 10px var(--bgColor);
    position: absolute;
    width: 15rem;
    left: 15.05rem;
}

.ModalSectionSetting {
    bottom: -0.25rem;
}

.ModalSectionShortcut {
    bottom: -4.45rem;
}

.ItemSectionGroup.ActiveTab .ItemSection {
    background-color: var(--mainBgColor);
}

.ItemSectionGroup.ActiveTab .ItemSection p {
    color: var(--mainColor);
    font-weight: 500;
}

.ItemSectionGroup.ActiveTab .ItemSection img {
    filter: var(--color-filter);
}

